@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Games CR</h1>
    <p class="lead">Video Games CR es la mejor cadena de Video Juegos en Costa Rica!</p>
    <p><a href="https://localhost:44318/Home/Index" class="btn btn-primary btn-lg">HOME &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div style="padding:10px;">
            <img src="~/Images/img01.jpeg" alt="Sample Image" width="1000px" />
        </div>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>